FrontEnd/foo/build/
FrontEnd/foo/pubspec.yaml
FrontEnd/foo/pubspec.lock
Django/env/
db.sqlite3
*.pyc
.vscode
migrations/
media/
migrations/
Frontend/foo/pubspec.yaml
Frontend/foo/pubspec.lock
FrontEnd/foo/android/