<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>280470931403-f397o0of9mflhen9r8tr70fhiqgv74ne.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.280470931403-f397o0of9mflhen9r8tr70fhiqgv74ne</string>
	<key>API_KEY</key>
	<string>AIzaSyBe8FLmeqJIgwHnWVdTvm_u4J-vYrRZeCA</string>
	<key>GCM_SENDER_ID</key>
	<string>280470931403</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foo</string>
	<key>PROJECT_ID</key>
	<string>foofrontend-bc4ec</string>
	<key>STORAGE_BUCKET</key>
	<string>foofrontend-bc4ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:280470931403:ios:50c530d85aadf233ebd84e</string>
</dict>
</plist>